<a href="https://colab.research.google.com/github/shahzadahmad7/Numpy/blob/main/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Numpy, Pandas, Seaborn Exercise

Import NumPy package as np

In [1]:
import numpy as np

Create an empty array of 20 0's and replace the 4th object with the number 5

In [5]:
array=np.zeros(20)
array[3]=20
array

array([ 0.,  0.,  0., 20.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.])

Create an array of 20 1's and store it as a variable named array_master. Copy the same array into another variable named array_copy

In [9]:
array_master=np.ones(20)
array_copy=array_master.copy()
array_copy

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1.])

Create an array containing 30 1's and broadcast all the one's to the value 100

In [11]:
ar=np.ones(30)
ar[:]=100
ar

array([100., 100., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
       100., 100., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
       100., 100., 100., 100., 100., 100., 100., 100.])

Create an array of integers starting from 21 until 31 and name it as array1

Create an array of integers starting from 11 until 21 and name it array2

Calculate the difference between array1 and array2

In [15]:
array1=np.arange(21,32)
array2=np.arange(11,22)
array1-array2

array([10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10])

Create an array of all even integers from 2 to 10 and name it a1

Create an array of all even integers from 22 to 30 and name it a2

Use the 2 arrays as rows and create a matrix [ Hint - Use stack function from numpy

In [20]:
a1=np.arange(2,11,2)
a2=np.arange(22,31,2)
np.stack((a1,a2))

array([[ 2,  4,  6,  8, 10],
       [22, 24, 26, 28, 30]])

Use the 2 above arrays as columns and create a matrix [ Hint - Use column_stack function from numpy ]

In [21]:
np.column_stack((a1,a2))

array([[ 2, 22],
       [ 4, 24],
       [ 6, 26],
       [ 8, 28],
       [10, 30]])

Create a 5x6 matrix with values ranging from 0 to 29 and retrieve the value intersecting at 2nd row and 3rd column

In [26]:
ar_matrix=np.arange(30).reshape(5,6)
ar_matrix[1,2]

8

Create an identity matrix of shape 10x10 and replace the 0's with the value 21

In [28]:
id_matrix=np.eye(10)
id_matrix[id_matrix==0]=21
id_matrix

array([[ 1., 21., 21., 21., 21., 21., 21., 21., 21., 21.],
       [21.,  1., 21., 21., 21., 21., 21., 21., 21., 21.],
       [21., 21.,  1., 21., 21., 21., 21., 21., 21., 21.],
       [21., 21., 21.,  1., 21., 21., 21., 21., 21., 21.],
       [21., 21., 21., 21.,  1., 21., 21., 21., 21., 21.],
       [21., 21., 21., 21., 21.,  1., 21., 21., 21., 21.],
       [21., 21., 21., 21., 21., 21.,  1., 21., 21., 21.],
       [21., 21., 21., 21., 21., 21., 21.,  1., 21., 21.],
       [21., 21., 21., 21., 21., 21., 21., 21.,  1., 21.],
       [21., 21., 21., 21., 21., 21., 21., 21., 21.,  1.]])

Use NumPy to generate a random set of 10 numbers between 0 and 1

Display a boolean array output where all values > 0.2 are True, rest are marked as False

In [32]:
ar=np.random.rand(10)
#The rand() function is used to generate random numbers in the interval [0, 1).
ar>0.2

array([ True,  True,  True,  True,  True,  True, False, False, False,
        True])

Use NumPy to generate an array matrix of 5x2 random numbers sampled from a standard normal distribution

In [38]:
arr=np.random.randn(5,2)
arr #np.random.randn is used to generate an array of random numbers following a standard normal distribution
    #(also known as a Gaussian distribution) with a mean of 0 and a standard deviation of 1.

array([[-0.37401656,  2.20946211],
       [ 0.8285941 ,  0.88289726],
       [ 1.52765844, -0.08653135],
       [-0.13486544,  0.6843302 ],
       [-0.65128156,  0.09573845]])

Create an array of 30 linearly spaced points between 0 and 100

In [40]:
np.linspace(0,100)

array([  0.        ,   2.04081633,   4.08163265,   6.12244898,
         8.16326531,  10.20408163,  12.24489796,  14.28571429,
        16.32653061,  18.36734694,  20.40816327,  22.44897959,
        24.48979592,  26.53061224,  28.57142857,  30.6122449 ,
        32.65306122,  34.69387755,  36.73469388,  38.7755102 ,
        40.81632653,  42.85714286,  44.89795918,  46.93877551,
        48.97959184,  51.02040816,  53.06122449,  55.10204082,
        57.14285714,  59.18367347,  61.2244898 ,  63.26530612,
        65.30612245,  67.34693878,  69.3877551 ,  71.42857143,
        73.46938776,  75.51020408,  77.55102041,  79.59183673,
        81.63265306,  83.67346939,  85.71428571,  87.75510204,
        89.79591837,  91.83673469,  93.87755102,  95.91836735,
        97.95918367, 100.        ])

**Numpy Indexing and Selections**

Generate the following output

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75,  76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100]]

In [45]:
arr1=np.arange(1,101).reshape(10,10)
arr1

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75,  76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100]])

a) Retrieve the last 2 rows and first 3 column values of the above matrix using index & selection technique

In [47]:
arr1[8:,:3]

array([[81, 82, 83],
       [91, 92, 93]])

b) Retrieve the value 55 from the above matrix using index & selection technique

In [54]:
arr1[5,4]

55

c) Retrieve the values from the 3rd column in the above matrix

In [59]:
arr1[:,2]

array([ 3, 13, 23, 33, 43, 53, 63, 73, 83, 93])

d) Retrieve the values from the 4th row in the above matrix

In [62]:
arr1[3,:]

array([31, 32, 33, 34, 35, 36, 37, 38, 39, 40])

e) Retrieve values from the 2nd & 4th rows in the above matrix

In [63]:
arr1[(1,3),:]

array([[11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
       [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]])

**Calculate the following values for the given matrix**

a) Calculate sum of all the values in the matrix

In [64]:
arr1.sum()

5050

b) Calculate standard deviation of all the values in the matrix

In [65]:
arr1.std()

28.86607004772212

c) Calculate the variance of all values in the matrix

In [66]:
arr1.var()

833.25

d) Calculate the mean of all values in the matrix

In [67]:
arr1.mean()

50.5

e) Retrieve the largest number from the matrix

In [68]:
arr1.max()

100

f) Retrieve the smallest number from the matrix

In [69]:
arr1.min()

1